#intro {}

#intro-texts {}


.relative {
  z-index: 5;
  position: relative;
}

/* CHARACTER */

#intro-character-img {
  /* background-color: lightcyan; */
  position: absolute;
  top: -210px;
  left: 20%;
  height: 1500px;
}

#intro-character-img img {
  height: 2250px;
}

@media (max-width: 760px) {
  #intro-character-img {
    top: -80px;
    left: 20%;
    height: 1500px;
  }

  #intro-character-img img {
    height: 700px;
  }
}

@media (max-width: 760px) {
  #intro-character-img {
    top: -60px;
    left: 5%;
    height: 1500px;
  }

}

/* INTRO TEXTS */

#intro-texts {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#intro-illustration-img {
  position: relative;
  display: flex;
  justify-content: center;
  /* background-color: green; */
  margin-top: 40px;
  z-index: 0;
  object-fit: fit;
}

@media (max-width: 760px) {
  #intro-illustration-img {}
}

#intro-illustration-img img {
  opacity: 0.5;
  width: 100%;
  height: auto;
}

@media (max-width: 760px) {
  #intro-illustration-img img {}
}

@media (max-width: 480px) {
  #intro-illustration-img img {
    opacity: 0.5;
  }
}

/* END Illustration Image */

#intro-portfolio-img {
  position: relative;
  display: flex;
  /* background-color: lightgoldenrodyellow; */
  height: auto;
  z-index: 10;
  justify-content: right;
}

#intro-portfolio-img img {
  width: 630px;
  height: auto;
}

@media (max-width: 760px) {
  #intro-portfolio-img img {
    width: 230px;
  }

  #intro-portfolio-img {}
}

@media (max-width: 480px) {
  #intro-portfolio-img {
    height: auto;
  }

  #intro-portfolio-img img {
    width: 180px;
  }
}

#intro-author-img {
  position: relative;
  background-color: lightseagreen;
  height: 50px;
  width: 400px;
  margin-left: auto;
  z-index: 10;
}

/* ABOUT BUBBLE */

#intro-about-cloud-img {
  position: relative;
  display: flex;
  justify-content: right;
  /* background-color: lightsalmon; */
  margin-left: auto;
  top: 70px;
  z-index: 10;
  transform-origin: bottom right;
}

#intro-about-cloud-img img {
  width: 600px;
  height: auto;
}

@media (max-width: 480px) {
  #intro-about-cloud-img {
    top: 300px;
  }

  #intro-about-cloud-img img {
    width: 200px;
    height: auto;
  }
}

.active {
  display: block;
}
