#nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: lightblue;
  height: 50px;
}

#nav-bar-left {
  margin-left: 30px;
  height: 50px;
  align-content: center;
}

#nav-bar-right {
  margin-right: 30px;
  height: 50px;
  align-content: center;
}
